node_modules/*
assets/*
components/*
!components/projects/Projects.vue
lang/*
layouts/*
middleware/*
pages/*
plugins/*
server/*
shared/*
static/*
store/*
types/*
app.html
global.d.ts
vue-shim.d.ts
vuedraggable.d.ts
